# Environment variables / secrets
.env


# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Local data
data/

# IDE
.idea/

#Infrastructure
infrastructure/docker/spark/spark-4.2.0-bin-hadoop3.tgz

# Local ingestion experiment fixtures
experiments/ingestion/data/*.xlsx
experiments/ingestion/data/*.pdf