#Runs in local for development environment
MINIO_HOST=localhost

#Port for MinIO server
MINIO_PORT=9000

#MINIO Credentials
MINIO_USERNAME=your_local_minio_username
MINIO_PASSWORD=your_local_minio_password